h1, h2, h3, h4, h5, h6 {
    font-family: 'bitterregular';
}

p, div {
    font-family: 'bitterregular';
}

/* Jquery Validation Error Message Custom Style */
.error {
	color: red;
}

/* Base structure */
body {
	padding-top: 50px;
}

.sub-header {
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

/* Sidebar */
.sidebar {
	display: none;
}

@media (min-width: 768px) {
	.sidebar {
		position: fixed;
		top: 51px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		padding: 20px;
		overflow-x: hidden;
		overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
		background-color: #f5f5f5;
		border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
	margin-right: -21px; /* 20px padding + 1px border */
	margin-bottom: 20px;
	margin-left: -20px;
}

.nav-sidebar > li > a {
	padding-right: 20px;
	padding-left: 20px;
}

.nav-sidebar > .active > a {
	color: #fff;
	background-color: #6bd662;
}

/* Main content */
.main {
 	padding: 20px;
}

@media (min-width: 768px) {
	.main {
		padding-right: 40px;
		padding-left: 40px;
	}
}

.main .page-header {
 	margin-top: 0;
}

/* Placeholder dashboard*/
.placeholders {
	margin-bottom: 30px;
	text-align: center;
}

.placeholders h4 {
	margin-bottom: 0;
}

.placeholder {
	margin-bottom: 20px;
}

.placeholder img {
	display: inline-block;
	border-radius: 50%;
}

/* Account 
.nav {
    left:50%;
    margin-left:-150px;
    top:50px;
    position:absolute;
}
.nav>li>a:hover, .nav>li>a:focus, .nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background:#fff;
}*/
/* account dropdown menu 
.dropdown {
    background:#fff;
    border:1px solid #ccc;
    border-radius:4px;
    width:150px;    
}
.dropdown-menu>li>a {
    color:#428bca;
}
.dropdown ul.dropdown-menu {
    border-radius:4px;
    box-shadow:none;
    margin-top:20px;
    width:300px;
}
.dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 16px;
    z-index: 10;
}
.dropdown ul.dropdown-menu:after {
    content: "";
    border-bottom: 12px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    right: 14px;
    z-index: 9;
	} */

/* clickable panel */
.clickable {
	cursor: pointer;
}

.clickable .glyphicon {
	background: rgba(0, 0, 0, 0.15);
	display: inline-block;
	padding: 6px 12px;
	border-radius: 4px
}

.panel-heading span {
	margin-top: -23px;
	font-size: 15px;
	margin-right: -9px;
}

a.clickable { 
	color: inherit; 
}

a.clickable:hover { 
	text-decoration:none; 
}

/* nav account manager */
/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 20;
	margin-top: 20px;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
	padding-left: 0;
	padding-right: 0;
}

.navbar-wrapper .navbar {
	padding-left: 15px;
	padding-right: 15px;
}

.navbar-content {
	width:320px;
	padding: 15px;
	padding-bottom:0px;
}

.navbar-content:before, .navbar-content:after {
	display: table;
	content: "";
	line-height: 0;
}

.navbar-nav.navbar-right:last-child {
	margin-right: 15px !important;
}

.navbar-footer {
	background-color:#eee;
}

.navbar-footer-content { 
	padding:15px 15px 15px 15px; 
}

.dropdown-menu {
	padding: 0px;
	overflow: hidden;
}

/* alert message */
hr.message-inner-separator {
	clear: both;
	margin-top: 10px;
	margin-bottom: 13px;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}

/* hero gadget */
.hero-widget { 
	text-align: center; 
	padding-top: 10px; 
	padding-bottom: 10px; 
	background-color: #F3F9F2;
}

.hero-widget .icon { 
	display: block; 
	font-size: 25px; 
	text-align: center; 
}

.hero-widget var { 
	display: block; 
	font-size: 18px; 
	font-style: normal; 
}

/* notification */
.teamps-noti .label,.teamps-noti .glyphicon { 
	margin-right:5px; 
}

/* sidebar */
.teamps-sidebar .label,.teamps-sidebar .glyphicon { 
	margin-right:10px; 
}


/* custumization */
.navbar {
	background-color: #6bd662; /* background color will be black for all browsers */
	background-image: none;
	background-repeat: no-repeat;
	filter: none;
}

.navbar .navbar-brand,.navbar-nav li > a {
	color: #fff;
}

.navbar-nav li > a:hover,.navbar-nav li > a:focus {
	background: #98C0F5;
}

.navbar-nav > li.dropdown.active.open > a, 
.navbar-nav > li.dropdown.active.open > ul.dropdown-menu a:hover,
.navbar-nav > li.dropdown.open > a, 
.navbar-nav > li.dropdown.open > ul.dropdown-menu a:hover {
	background-color: #98C0F5;
}

.page-header {
	color:orange;
}

/* Stylish button */
.ds-btn li { 
	list-style:none; 
	float:left; 
	padding:10px; 
}

.ds-btn li a span { 
	padding-left:15px;
	padding-right:5px;
	width:100%;
	display:inline-block; 
	text-align:left;
}

.ds-btn li a span small {
	width:100%; 
	display:inline-block; 
	text-align:left;
}

